<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <h4>Your Name: <%= name %></h4>
        <h4>Dojo Location: <%= location %></h4>
        <h4>Favorite Language: <%= language %></h4>
        <h4>Comment (optional): <%= comment %></h4>
        <a href="/"><button>Go Back</button></a>
    </div>
</html>
